@page
@model SE171089_RazorPage.Pages.Accounts.EditModel
@{
    int RoleId = Convert.ToInt32(HttpContext.Session.GetString("RoleId"));
    if (RoleId != 1 && RoleId != 2)
    {
        Response.Redirect("/PermissionDenied");
    }
}
<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="Account.Id" />
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" value="@ViewData["Username"]"/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" value="@ViewData["Email"]"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Password" class="control-label"></label>
                <input asp-for="Account.Password" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Account.RoleId"/>
                <label class="control-label">Role Name</label>
                <input class="form-control" readonly value="@ViewData["RoleName"]"/>
            </div>
            <div class="form-group">
                <label asp-for="Account.Status" class="control-label"></label>
                <input asp-for="Account.Status" class="form-control" readonly/>
            </div>
            <p class="text-danger">@ViewData["ErrorMessage"]</p>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
