@page
@model SE171089_RazorPage.Pages.Books.EditModel
@{
    int RoleId = Convert.ToInt32(HttpContext.Session.GetString("RoleId"));
    if (RoleId != 1 && RoleId != 2)
    {
        Response.Redirect("/PermissionDenied");
    }
}
<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Book.Id" />
            <div class="form-group">
                <label asp-for="Book.CateId" class="control-label"></label>
                <select asp-for="Book.CateId" class="form-control" asp-items="ViewBag.CateId"></select>
                <span asp-validation-for="Book.CateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Name" class="control-label"></label>
                <input asp-for="Book.Name" class="form-control" />
                <span asp-validation-for="Book.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Author" class="control-label"></label>
                <input asp-for="Book.Author" class="form-control" />
                <span asp-validation-for="Book.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Description" class="control-label"></label>
                <input asp-for="Book.Description" class="form-control" />
                <span asp-validation-for="Book.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Quantity" class="control-label"></label>
                <input asp-for="Book.Quantity" class="form-control" />
                <span asp-validation-for="Book.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Status" class="control-label"></label>
                <input asp-for="Book.Status" class="form-control" />
                <span asp-validation-for="Book.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
